body{
    font-family: Nunito, sans-serif;
    background-color: #0e1b2f;
}
.container{
    display: flex;
    justify-content: center;
}
.logo{
    background: rgba(59, 207, 52, 1.00);
    text-align: center;
    font-size: 36px;
}

input{
    width: 80%;
    height: 20px;
}

form{
    width: 250px;
    border: 2px solid;
    text-align: center;
    
}
.labels{

}
label{
    color: white;
    display: block;
    text-align: left;
    margin-left: 20px;
    margin: 5px 20px 0;
}

table{
    /* border-spacing: 0 10px; */
    
    width: 100%;
}

button{
    background: none;
    border: 2px solid;
    padding: 0.5rem 1.2rem;
    color: #6189f6;
    transition: all 0.25s;
    margin: 10px 0;

}
button:hover{
    border-color: #6257f6;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #0e1b2f;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.login-anchor{
    text-decoration: none;
    margin-top: 10px;
    color: #6189f6;
}

.login-anchor:hover{
    color: white;
}