body{
    font-family: Nunito, sans-serif;
    background-color: #0e1b2f;
    color: aliceblue;
}
.container{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-bottom: 1em;
}
.container-round{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.container-round img{
    border-radius: 20px;
}
.logo{
    text-align: center;
    font-size: 36px;
}
.box{
    display: flex;
    justify-content: center;
}

input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
}

form{
    width: 300px;
    border: 1px solid #172c4b;
    background-color: #172c4b;
    border-radius: 5%;
    text-align: center;    
}

label{
    display: block;
    text-align: left;
    margin: 0.6rem 1.6rem 0; 
}

table{
    /* padding: 15px 10px; */
    padding: 1rem 0.5rem;
    width: 100%;
}

button{
    color: aliceblue;
    width: 83%;
    background-color: #3939e0;
    border: 1px solid #3939e0;
    padding: 0.5rem 1.2rem;
    transition: all 0.25s;
    margin: 0.6rem 0;
    box-shadow: 0 0.5em 0.5em -0.4em #0e1b2f;
    border-radius: 5px;
}
button:hover{
    background-color: #1d1ddb;
    box-shadow: 0 0.5em 0.5em -0.4em #0e1b2f;
    cursor: pointer;
}


.login-anchor{
    text-decoration: none;
    margin-top: 1em;
    color: #3939e0;
}

.login-anchor:hover{
    color: #1d1ddb;
}

.navbar{
    background-color:  #172c4b;
}

.ul_css{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li_css_a{
    display: block;
    /* color: #FF0; */
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
}

.li_css_a img{
    width: 25px;
    height: 20px;
}
.round{
    border-radius: 10px;
}

.li_css{
    /* border-right: 1px solid #0F6; */
}



