body{
    font-family: Nunito, sans-serif;
    background-color: #0e1b2f;
    color: aliceblue;
    
}

.container{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-bottom: 1em;
}

.sellForm{
    width: 130%;
}

.container-round{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.container-round img{
    border-radius: 20px;
}
.logo{
    text-align: center;
    font-size: 36px;
}
.box{
    display: flex;
    justify-content: center;
}

input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
}
.sellTable input{
    width: 100%;
    margin-bottom: 10px;
}
input[type="file"]{
    display: inline;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#file_css{
    display: inline;
    margin: 0;
    position: relative;
    /* left: 5rem;
    top: 0.5rem; */
}
input[type="file"] + #input_css{

    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
input[type="file"]:focus + #file_css, input[type="file"] + #file_css:hover{
    color: #3939e0;
    transition: all 0.25s;

}

input[type="file"]:focus + #file_css{
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

input[type="file"] + #file_css{
    cursor: pointer; /* "hand" cursor */

}


form{
    width: 300px;
    max-width: 700px;
    border: 1px solid #172c4b;
    background-color: #172c4b;
    border-radius: 5%;
    text-align: center;  
      
}

label{
    display: flex;
    text-align: left;
    margin: 0.6rem 1.6rem 0; 
}

.sellForm label{
    margin: 0;
}
.sellForms td{
    /* margin: 0; */
    width: 10%;
}

table{
    padding: 1rem 0.5rem;
    width: 100%;
}
.sellButton{
    width: 90%;
}

.shop-results{
    border-collapse: collapse;
    margin-top: 1em;
    width: 60%;
    text-align: center;
}
.shop-results td{
    border: 1px solid black;
}
.shop-results th{
    padding: 20px 0;
}
.shop-results tr:hover{
    background-color: #18184b;
}

button{
    color: aliceblue;
    width: 83%;
    background-color: #3939e0;
    border: 1px solid #3939e0;
    padding: 0.5rem 1.2rem;
    transition: all 0.25s;
    margin: 0.6rem 0;
    box-shadow: 0 0.5em 0.5em -0.4em #0e1b2f;
    border-radius: 5px;
}
button:hover{
    background-color: #1d1ddb;
    box-shadow: 0 0.5em 0.5em -0.4em #0e1b2f;
    cursor: pointer;
}

.login-anchor{
    text-decoration: none;
    margin-top: 1em;
    color: #3939e0;
}

.login-anchor:hover{
    color: #1d1ddb;
}

.navbar{
    background-color:  #172c4b;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.ul_css{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    /* padding-left: 100px; */
    width: 40%;
}

.li_css_a{
    display: block;
    /* color: #FF0; */
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
}

.li_css_a img{
    width: 25px;
    height: 20px;
}
.round{
    border-radius: 10px;
}
.clock{
    margin: 0 10px;
}





